/*
	Author: Brian Huang
	Date: 2/14/23
	Assignment: Chapter 4 Yoga Case Study
*/
html{
    background-color: #F5F5F5;
    color: #40407A;
}
header{
    background-color:#80CBC4;
}
footer{
    background-color:#80CBC4;
}